/* Слайдер */
.slick-slider{
	position: relative;
	
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
	
} 
/* Лента слайдов */
.slick-track{
	display: flex;
	justify-content: space-between;
}
/* Слайд */ 
.slick-slide{
	
} 
.slick-slide:first-child{
	
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{} 
/* Слайд основной */ 
.slick-slide.slick-current{} 
/* Слайд по центру */ 
.slick-slide.slick-center{} 
/* Клонированный слайд */ 
.slick-slide.slick-cloned{}
/* Стрелка */ 
.slick-arrow{
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 46px;
	height: 46px;
	margin: -23px 0 0 0;
} 
/* Стрелка влево */ 
.slick-arrow.slick-prev{
	left: -50px;
	background: url(../img/convenient/left-arrow.png)0 0/100% no-repeat;
} 
/* Стрелка вправо */ 
.slick-arrow.slick-next{
	right: -50px;
	background: url(../img/convenient/right-arrow.png)0 0/100% no-repeat;
} 
/* Стрелка не активная */ 
.slick-arrow.slick-disabled{}
/* Точки (булиты) */ 
.slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px 0 0 0;
} 
.slick-dots li{
	list-style: none;
	margin: 0 10px;
} 
/* Активная точка */ 
.slick-dots li.slick-active button{
	width: 12px;
	height: 12px;
	background-color: #fee600;
} 
/* Элемент точки */
.slick-dots li button{
	font-size: 0;
	width: 9px;
	height: 9px;
	background-color: #ffffff;
	border-radius: 50%;
}



